	<div class="tr-banner section-before bg-image">
		<div class="container">
			<div class="banner-content text-center">
				<h1>Get It Done</h1>
				<h2>A community that will push your business forward.</h2>
				<div class="banner-form">
					<form action="#">
						<input type="text" class="form-control" placeholder="What do you need?">
						
						<button type="submit" class="btn btn-primary" value="Search">Search</button>
					</form>
				</div><!-- /.banner-form -->				
			</div><!--/. banner-content -->
		</div><!-- /.container -->
	</div><!-- /.tr-banner -->

	<div class="tr-category section-padding">
		<div class="container">
			<div class="section-title">
				<h1>Browse By Category</h1>
			</div>
			<ul class="category-list tr-list">
				<li>
					<a href="#">
						<span class="icon">
							<i class="fa fa-money"></i>
						</span>
						<span class="category-title">Accounting/Finance</span>
						<span class="category-quantity">(1298)</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon">
							<i class="fa fa-leanpub"></i>
						</span>
						<span class="category-title">Marketing</span>
						<span class="category-quantity">(76212)</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon">
							<i class="fa fa-share-alt"></i>
						</span>
						<span class="category-title">Web Development</span>
						<span class="category-quantity">(212)</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon">
							<i class="fa fa-book"></i>
						</span>
						<span class="category-title">Admin/Support</span>
						<span class="category-quantity">(972)</span>
					</a>
				</li>
			</ul>
			<ul class="category-list tr-list">
				<li>
					<a href="#">
						<span class="icon">
							<img src="images/icons/category5.png" alt="Icon" class="img-responsive">
						</span>
						<span class="category-title">HR</span>
						<span class="category-quantity">(1298)</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon">
							<img src="images/icons/category6.png" alt="Icon" class="img-responsive">
						</span>
						<span class="category-title">Design and Creative</span>
						<span class="category-quantity">(76212)</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon">
							<img src="images/icons/category7.png" alt="Icon" class="img-responsive">
						</span>
						<span class="category-title">Research</span>
						<span class="category-quantity">(1298)</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon">
							<img src="images/icons/category8.png" alt="Icon" class="img-responsive">
						</span>
						<span class="category-title">Social Media</span>
						<span class="category-quantity">(76212)</span>
					</a>
				</li>
			</ul>
			<ul class="category-list category-list-bottom tr-list">
				<li>
					<a href="#">
						<span class="icon">
							<img src="images/icons/category9.png" alt="Icon" class="img-responsive">
						</span>
						<span class="category-title">Sales</span>
						<span class="category-quantity">(212)</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon">
							<img src="images/icons/category10.png" alt="Icon" class="img-responsive">
						</span>
						<span class="category-title">Marketing/Sales</span>
						<span class="category-quantity">(972)</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon">
							<img src="images/icons/category11.png" alt="Icon" class="img-responsive">
						</span>
						<span class="category-title">Production/Operation</span>
						<span class="category-quantity">(212)</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon">
							<img src="images/icons/category12.png" alt="Icon" class="img-responsive">
						</span>
						<span class="category-title">Miscellaneous</span>
						<span class="category-quantity">(972)</span>
					</a>
				</li>
			</ul>
		</div><!-- /.container -->
	</div><!-- /.tr-category -->

	<div class="tr-job-posted section-padding">
		<div class="container">
			<div class="section-title">
				<h1>Packs From Our Community</h1>
			</div>
				<div>
					<div class="tab-pane active">
						<div class="row">
							
							<%= render 'packs' %>

						</div><!-- /.row -->
					</div><!-- /.tab-pane -->
				</div>				
			</div><!-- /.job-tab -->			
		</div><!-- /.container -->
	</div><!-- /.tr-job-posted -->

	<div class="tr-steps bg-image section-padding section-before">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="step">
						<div class="step-image">
							<img src="images/step1.png" alt="images" class="img-responsive rounded-circle">
						</div>
						<h1>Step 1</h1>
						<h2>Sign Up</h2>
						<p>Join our community in under a minute. Simply sign up with your email.</p>
					</div><!-- step -->
				</div>
				<div class="col-sm-4">
					<div class="step">
						<div class="step-image">
							<img src="images/step2.png" alt="images" class="img-responsive rounded-circle">
						</div>
						<h1>Step 2</h1>
						<h2>Add work you need done</h2>
						<p>Create jobs to be done in your business. Set the price or let the community bid.</p>
					</div><!-- /.step -->
				</div>
				<div class="col-sm-4">
					<div class="step">
						<div class="step-image">
							<img src="images/step3.png" alt="images" class="img-responsive rounded-circle">
						</div>
						<h1>Step 3</h1>
						<h2>See Bids and Accept Work</h2>
						<p>Our community of freelancers will bid on your work. Once you find an offer you like, accept it and your work will be delivered.</p>
					</div><!-- /.step -->
				</div>
			</div><!-- /.row -->
		</div><!-- /.container -->
	</div><!-- /.tr-steps -->

