	<header class="tr-header">
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html"><img class="img-responsive" src="images/logo.png" alt="Logo"></a>
				</div>
				<!-- /.navbar-header -->
				
				<div class="navbar-left">
					<div class="collapse navbar-collapse" id="navbar-collapse">
						<ul class="nav navbar-nav">
							<li class="tr-dropdown"><a href="#">Home</a>
								<ul class="tr-dropdown-menu left tr-list fadeInUp" role="menu">
							        <li><a href="index.html">Home Page V-1</a></li>
							        <li><a href="index1.html">Home Page V-2</a></li>
								</ul>
							</li>
							<li><a href="job-post.html">Post A Job</a></li>
							<li><a href="listing.html">Job List</a></li>
							<li><a href="job-details.html">Job Details</a></li>
							<li class="tr-dropdown active"><a href="#">Pages</a>
								<ul class="tr-dropdown-menu tr-list fadeInUp" role="menu">
							        <li><a href="employee-profile.html">Employee Profile</a></li>
							        <li><a href="employer-profile.html">Employer Profile</a></li>
							        <li><a href="view-compnay.html">View Compnay</a></li>
							        <li><a href="view-resume.html">View Resume</a></li>
							        <li><a href="coming-soon.html">Coming Soon</a></li>
							        <li><a href="notification.html">Notification</a></li>
							        <li><a href="contact.html">Contact</a></li>
							        <li><a href="pricing.html">Pricing</a></li>
							        <li class="active"><a href="signup.html">Sign Up</a></li>
							        <li><a href="signin.html">Sign In</a></li>
							        <li><a href="500.html">500 Opsss</a></li>
							        <li><a href="404.html">404 Error</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div><!-- /.navbar-left -->

				<div class="navbar-right">			
					<div class="dropdown tr-change-dropdown">
						<i class="fa fa-globe"></i>
						<a data-toggle="dropdown" href="#" aria-expanded="false"><span class="change-text">United Kingdom</span><i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu tr-change tr-list">
							<li><a href="#">United Kingdom</a></li>
							<li><a href="#">United States</a></li>
							<li><a href="#">China</a></li>
							<li><a href="#">Russia</a></li>
						</ul>								
					</div><!-- /.language-dropdown -->					
					<ul class="sign-in tr-list">
						<li><i class="fa fa-user"></i></li>
						<li><a href="signin.html"> Sign In </a></li>
						<li><a href="signup.html">Register</a></li>
					</ul><!-- /.sign-in -->					

					<a href="job-post.html" class="btn btn-primary">Post Job</a>
				</div><!-- /.nav-right -->
			</div><!-- /.container -->
		</nav><!-- /.navbar -->
	</header><!-- /.tr-header -->
